body {
  background: white;
  margin: 0;
}

header {
  background-color: slategray;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); 
}

nav {
  display: flex;
  padding: 1.25rem;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px;
}

main {
  max-width: 1024px;
  min-height: 100vh;
}

footer {
  background-color: slategray;
  display: flex; 
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; 
  padding-left: 4rem;
  padding-right: 4rem; 
  justify-content: space-between; 
  align-items: center; 
  width: 100%; 
  font-size: 0.75rem;
  line-height: 1rem; 
}

.navlink {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; 
  padding-left: 0.75rem;
  padding-right: 0.75rem; 
  border-radius: 0.375rem; 
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.navlink:hover {
  background-color: white;
  color: black;
}